.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  width: 300px;
  font-size: 16px;
}

.link {
  text-decoration: underline;
  color: #7d7c7c;
}

.link:hover {
  color: rgb(61, 61, 61);
}